<div class="container">
<div class="row">
<div class="offset-sm-4">
        <!-- BEGIN HELLOWORLD PACK -->
        <%= content_tag :div, id:"HelloWorld", data: {'test':'test'} do %>
        <% end %>
        <%= javascript_pack_tag 'hello_react' %>
        <!-- END HELLOWORLD PACK -->
</div>
</div>
</div>